@use "../../prefix";
@use "../../mixins/colors";

$breadcrumb-item-padding-x: var(--spacing-base) !default;
$breadcrumb-item-padding-y: var(--spacing-xsmall) !default;
$breadcrumb-item-border-radius: var(--border-radius) !default;
$breadcrumb-item-font: var(--font-family) !default;
$breadcrumb-item-font-size: 1var(--font-size-base)	rem !default;
$breadcrumb-item-font-weight: var(--font-weight-regular) !default;
$breadcrumb-item-line-height: normal !default;
$breadcrumb-item-fg: var(--color-gray-950) !default;
$breadcrumb-item-active-fg: var(--color-primary-500) !default;
$breadcrumb-item-active-font-weight: var(--font-weight-medium) !default;
$breadcrumb-item-arrow-color: var(--color-gray-950) !default;
$breadcrumb-item-arrow-spacing: var(--spacing-xxsmall) !default;
$breadcrumb-item-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out !default;
$breadcrumb-item-hover-bg: var(--color-primary-100) !default;

.breadcrumb {
  --#{prefix.$variable-prefix}breadcrumb-item-padding-x: #{$breadcrumb-item-padding-x};
  --#{prefix.$variable-prefix}breadcrumb-item-padding-y: #{$breadcrumb-item-padding-y};
  --#{prefix.$variable-prefix}breadcrumb-item-border-radius: #{$breadcrumb-item-border-radius};
  --#{prefix.$variable-prefix}breadcrumb-item-font: #{$breadcrumb-item-font};
  --#{prefix.$variable-prefix}breadcrumb-item-font-size: #{$breadcrumb-item-font-size};
  --#{prefix.$variable-prefix}breadcrumb-item-font-weight: #{$breadcrumb-item-font-weight};
  --#{prefix.$variable-prefix}breadcrumb-item-line-height: #{$breadcrumb-item-line-height};
  --#{prefix.$variable-prefix}breadcrumb-item-fg: #{$breadcrumb-item-fg};
  --#{prefix.$variable-prefix}breadcrumb-item-active-fg: #{$breadcrumb-item-active-fg};
  --#{prefix.$variable-prefix}breadcrumb-item-arrow-color: #{$breadcrumb-item-arrow-color};
  --#{prefix.$variable-prefix}breadcrumb-item-arrow-spacing: #{$breadcrumb-item-arrow-spacing};
  --#{prefix.$variable-prefix}breadcrumb-item-transition: #{$breadcrumb-item-transition};
  --#{prefix.$variable-prefix}breadcrumb-item-hover-bg: #{$breadcrumb-item-hover-bg};

  display: flex;
  flex-direction: row;
  align-items: center;

  .breadcrumb-item {
    display: flex;
    align-items: center;

    text-align: center;
    text-decoration: none;
    font-family: var(--#{prefix.$variable-prefix}breadcrumb-item-font);
    font-size: var(--#{prefix.$variable-prefix}breadcrumb-item-font-size);
    font-weight: var(--#{prefix.$variable-prefix}breadcrumb-item-font-weight);
    line-height: var(--#{prefix.$variable-prefix}breadcrumb-item-line-height);
    color: var(--#{prefix.$variable-prefix}breadcrumb-item-fg);

    &:not(:last-child) {
      &::after {
        padding: var(--#{prefix.$variable-prefix}breadcrumb-item-arrow-spacing);

        font-family: icons !important;
        font-size: 16px;
        content: "\f103";
        color: var(--#{prefix.$variable-prefix}breadcrumb-item-arrow-color);
      }
    }

    a {
      text-align: center;
      text-decoration: none;
      font-family: var(--#{prefix.$variable-prefix}breadcrumb-item-font);
      font-size: var(--#{prefix.$variable-prefix}breadcrumb-item-font-size);
      font-weight: var(--#{prefix.$variable-prefix}breadcrumb-item-font-weight);
      line-height: var(--#{prefix.$variable-prefix}breadcrumb-item-line-height);
      color: var(--#{prefix.$variable-prefix}breadcrumb-item-fg);
      border-radius: var(--#{prefix.$variable-prefix}breadcrumb-item-border-radius);

      padding: var(--#{prefix.$variable-prefix}breadcrumb-item-padding-y) var(--#{prefix.$variable-prefix}breadcrumb-item-padding-x);
      background-color: transparent;
      transition: var(--#{prefix.$variable-prefix}breadcrumb-item-transition);

      &:hover {
        background-color: var(--#{prefix.$variable-prefix}breadcrumb-item-hover-bg);
      }
    }

    &.active {
      --#{prefix.$variable-prefix}breadcrumb-item-fg: #{$breadcrumb-item-active-fg};
      --#{prefix.$variable-prefix}breadcrumb-item-font-weight: #{$breadcrumb-item-active-font-weight};
    }
  }
}
