.componentsGrid {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .componentRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    .source {
      flex: 1;

      >div {
        margin: 0;
      }
    }
  }
}