$alert-padding-x: var(--spacing-base) !default;
$alert-padding-y: var(--spacing-small) !default;
$alert-margin-bottom: var(--spacing-base) !default;
$alert-border-radius: var(--border-radius) !default;

$alert-default-bg: var(--color-gray-50) !default;
$alert-default-fg: var(--color-gray-500) !default;
$alert-default-border: var(--color-gray-100) !default;

$alert-danger-bg: var(--color-danger-100) !default;
$alert-danger-fg: var(--color-danger-500) !default;
$alert-danger-border: var(--color-danger-500) !default;

$alert-colors: (
  danger: (border: $alert-danger-border,
    bg: $alert-danger-bg,
    fg: $alert-danger-fg,
  ),
);

.alert {
  --#{$variable-prefix}alert-padding-x: #{$alert-padding-x};
  --#{$variable-prefix}alert-padding-y: #{$alert-padding-y};
  --#{$variable-prefix}alert-margin-bottom: #{$alert-margin-bottom};
  --#{$variable-prefix}alert-fg: #{$alert-default-fg};
  --#{$variable-prefix}alert-bg: #{$alert-default-bg};
  --#{$variable-prefix}alert-border: #{$alert-default-border};
  --#{$variable-prefix}alert-border-radius: #{$alert-border-radius};

  padding: var(--#{$variable-prefix}alert-padding-y) var(--#{$variable-prefix}alert-padding-x);
  margin-bottom: var(--#{$variable-prefix}alert-margin-bottom);
  border-radius: var(--#{$variable-prefix}alert-border-radius);
  color: var(--#{$variable-prefix}alert-fg);
  border: 1px solid var(--#{$variable-prefix}alert-border);
  background: var(--#{$variable-prefix}alert-bg);

  @each $variant, $dict in $alert-colors {
    &.#{$variant} {
      @include map-variable("alert-border", $dict, "border");
      @include map-variable("alert-bg", $dict, "bg");
      @include map-variable("alert-fg", $dict, "fg");
    }
  }
}