@use "../prefix";

$card-bg: var(--color-white);
$card-color: var(--color-gray-600);
$card-border-color: var(--color-gray-200);
$card-border-width: 1px;
$card-radius: var(--spacing-small);
$card-padding-x: var(--spacing-base);
$card-padding-y: var(--spacing-base);
$card-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15);
$card-title-spacing: var(--spacing-base);
$card-title-font-size: var(--font-size-h5);
$card-title-font-weight: var(--font-weight-bold);
$card-title-color: var(--color-gray-900);
$card-footer-spacing: var(--spacing-base);

.card {
  --#{prefix.$variable-prefix}card-bg: #{$card-bg};
  --#{prefix.$variable-prefix}card-color: #{$card-color};
  --#{prefix.$variable-prefix}card-border-color: #{$card-border-color};
  --#{prefix.$variable-prefix}card-border-width: #{$card-border-width};
  --#{prefix.$variable-prefix}card-radius: #{$card-radius};
  --#{prefix.$variable-prefix}card-padding-x: #{$card-padding-x};
  --#{prefix.$variable-prefix}card-padding-y: #{$card-padding-y};
  --#{prefix.$variable-prefix}card-shadow: #{$card-shadow};
  --#{prefix.$variable-prefix}card-title-spacing: #{$card-title-spacing};
  --#{prefix.$variable-prefix}card-title-font-size: #{$card-title-font-size};
  --#{prefix.$variable-prefix}card-title-font-weight: #{$card-title-font-weight};
  --#{prefix.$variable-prefix}card-title-color: #{$card-title-color};
  --#{prefix.$variable-prefix}card-footer-spacing: #{$card-footer-spacing};

  background: var(--#{prefix.$variable-prefix}card-bg);
  color: var(--#{prefix.$variable-prefix}card-color);
  border: var(--#{prefix.$variable-prefix}card-border-width) solid var(--#{prefix.$variable-prefix}card-border-color);
  padding: var(--#{prefix.$variable-prefix}card-padding-y) var(--#{prefix.$variable-prefix}card-padding-x);
  box-shadow: var(--#{prefix.$variable-prefix}card-shadow);
  border-radius: var(--#{prefix.$variable-prefix}card-radius);
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &.iconed {
    flex-direction: row;
    align-items: stretch;

    .card-inner {
      flex: 1;

      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    .card-icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .card-title {
    margin-bottom: var(--#{prefix.$variable-prefix}card-title-spacing);
    color: var(--#{prefix.$variable-prefix}card-title-color);

    & > p {
      font-size: var(--#{prefix.$variable-prefix}card-title-font-size);
      font-weight: var(--#{prefix.$variable-prefix}card-title-font-weight);
    }
  }

  .card-footer {
    margin-top: var(--#{prefix.$variable-prefix}card-footer-spacing);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &.right {
      justify-content: flex-end;
    }
  }
}
