@use "../prefix";
@use "../mixins/colors";

$form-check-spacing: var(--spacing-xsmall) !default;

$form-radio-size: 16px !default;
$form-radio-radius: var(--border-radius-circle) !default;
$form-radio-transition: color 0.15s ease-in-out,
  background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out !default;
$form-radio-default-border: var(--color-gray-100) !default;

$form-radio-checked-primary-border: var(--color-primary-500) !default;
$form-radio-checked-primary-bg: var(--color-primary-500) !default;
$form-radio-checked-primary-shadow: var(--color-primary-opacity-25) !default;
$form-radio-checked-primary-ball: var(--color-white) !default;

$form-radio-checked-secondary-border: var(--color-secondary-500) !default;
$form-radio-checked-secondary-bg: var(--color-secondary-500) !default;
$form-radio-checked-secondary-shadow: var(--color-secondary-opacity-25) !default;
$form-radio-checked-secondary-ball: var(--color-white) !default;

$form-radio-checked-danger-border: var(--color-danger-500) !default;
$form-radio-checked-danger-bg: var(--color-danger-500) !default;
$form-radio-checked-danger-shadow: var(--color-danger-opacity-25) !default;
$form-radio-checked-danger-ball: var(--color-white) !default;

$form-radio-checked-success-border: var(--color-success-500) !default;
$form-radio-checked-success-bg: var(--color-success-500) !default;
$form-radio-checked-success-shadow: var(--color-success-opacity-25) !default;
$form-radio-checked-success-ball: var(--color-white) !default;

$form-radio-checked-warning-border: var(--color-warning-500) !default;
$form-radio-checked-warning-bg: var(--color-warning-500) !default;
$form-radio-checked-warning-shadow: var(--color-warning-opacity-25) !default;
$form-radio-checked-warning-ball: var(--color-white) !default;

$form-radio-colors: (
  primary: (
    border: $form-radio-checked-primary-border,
    bg: $form-radio-checked-primary-bg,
    shadow: $form-radio-checked-primary-shadow,
    ball: $form-radio-checked-primary-ball,
  ),
  secondary: (
    border: $form-radio-checked-secondary-border,
    bg: $form-radio-checked-secondary-bg,
    shadow: $form-radio-checked-secondary-shadow,
    ball: $form-radio-checked-secondary-ball,
  ),
  danger: (
    border: $form-radio-checked-danger-border,
    bg: $form-radio-checked-danger-bg,
    shadow: $form-radio-checked-danger-shadow,
    ball: $form-radio-checked-danger-ball,
  ),
  warning: (
    border: $form-radio-checked-warning-border,
    bg: $form-radio-checked-warning-bg,
    shadow: $form-radio-checked-warning-shadow,
    ball: $form-radio-checked-warning-ball,
  ),
  success: (
    border: $form-radio-checked-success-border,
    bg: $form-radio-checked-success-bg,
    shadow: $form-radio-checked-success-shadow,
    ball: $form-radio-checked-success-ball,
  ),
);

.form-radio {
  --#{prefix.$variable-prefix}form-check-spacing: #{$form-check-spacing};

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--#{prefix.$variable-prefix}form-check-spacing);

  .form-radio-input {
    --#{prefix.$variable-prefix}form-radio-size: #{$form-radio-size};
    --#{prefix.$variable-prefix}form-radio-radius: #{$form-radio-radius};
    --#{prefix.$variable-prefix}form-radio-border: #{$form-radio-default-border};
    --#{prefix.$variable-prefix}form-radio-bg: transparent;
    --#{prefix.$variable-prefix}form-radio-shadow: transparent;
    --#{prefix.$variable-prefix}form-radio-transition: #{$form-radio-transition};

    appearance: none;
    width: var(--#{prefix.$variable-prefix}form-radio-size);
    height: var(--#{prefix.$variable-prefix}form-radio-size);
    border-radius: var(--#{prefix.$variable-prefix}form-radio-radius);

    transition: var(--#{prefix.$variable-prefix}form-radio-transition);

    border: 1px solid var(--#{prefix.$variable-prefix}form-radio-border);
    background-color: var(--#{prefix.$variable-prefix}form-radio-bg);

    box-shadow: none;

    position: relative;

    &:checked::after {
      --#{prefix.$variable-prefix}form-radio-ball-bg: transparent;

      content: '';
      position: absolute;
      left: 50%;
      top: 50%;

      transform: translate(-50%, -50%);

      width: calc(var(--#{prefix.$variable-prefix}form-radio-size) - 8px);
      height: calc(var(--#{prefix.$variable-prefix}form-radio-size) - 8px);
      background: var(--#{prefix.$variable-prefix}form-radio-ball-bg);
      border-radius: var(--#{prefix.$variable-prefix}form-radio-radius);
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem var(--#{prefix.$variable-prefix}form-radio-shadow);
    }

    @each $variant, $dict in $form-radio-colors {
      &.#{$variant}:checked {
        @include colors.map-variable("form-radio-border", $dict, "border");
        @include colors.map-variable("form-radio-bg", $dict, "bg");
        @include colors.map-variable("form-radio-shadow", $dict, "shadow");

        &::after {
          @include colors.map-variable("form-radio-ball-bg", $dict, "ball");
        }
      }
    }
  }
}
