$form-control-padding-x: var(--spacing-small) !default;
$form-control-padding-y: var(--spacing-small) !default;

$form-control-font: var(--font-family) !default;
$form-control-font-size: var(--font-size-base) !default;
$form-control-font-weight: var(--font-weight-regular) !default;
$form-control-line-height: normal !default;

$form-control-label-font: var(--font-family) !default;
$form-control-label-font-size: var(--font-size-base) !default;
$form-control-label-font-weight: var(--font-weight-medium) !default;
$form-control-label-line-height: normal !default;
$form-control-label-spacing: var(--spacing-xsmall) !default;
$form-control-label-fg: var(--color-gray-600) !default;

$form-control-border-radius: var(--border-radius) !default;
$form-control-transition: color 0.15s ease-in-out,
  background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out !default;

$form-control-default-border: var(--color-gray-100) !default;
$form-control-default-bg: #fff !default;
$form-control-default-fg: var(--color-gray-500) !default;
$form-control-default-hover-border: var(--color-gray-100) !default;
$form-control-default-hover-bg: #fff !default;
$form-control-default-hover-fg: var(--color-gray-600) !default;
$form-control-default-active-border: var(--color-primary-500) !default;
$form-control-default-active-shadow: var(--color-primary-opacity-25) !default;
$form-control-default-active-bg: #fff !default;
$form-control-default-active-fg: var(--color-gray-700) !default;
$form-control-default-placeholder: var(--color-gray-400) !default;

$form-control-color-padding-y: var(--spacing-xxsmall) !default;
$form-control-color-padding-x: var(--spacing-xxsmall) !default;
$form-control-color-height: var(--spacing-xxxlarge) !default;
$form-control-color-width: var(--spacing-xxxxlarge) !default;

$form-control-disabled-border: var(--color-gray-100);
$form-control-disabled-bg: var(--color-gray-50);
$form-control-disabled-fg: var(--color-gray-400);

$form-control-helper-font: var(--font-family) !default;
$form-control-helper-font-size: var(--font-size-small) !default;
$form-control-helper-font-weight: var(--font-weight-light) !default;
$form-control-helper-margin-top: var(--spacing-xxsmall);
$form-control-helper-fg: var(--color-gray-400);

$form-control-invalid-color: var(--color-danger-500) !default;
$form-control-invalid-shadow: var(--color-danger-opacity-25) !default;
$form-control-invalid-placeholder: var(--color-danger-400) !default;
$form-control-valid-color: var(--color-success-500) !default;
$form-control-valid-shadow: var(--color-success-opacity-25) !default;
$form-control-valid-placeholder: var(--color-gray-400) !default;

.form-control {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  --#{$variable-prefix}form-control-padding-y: #{$form-control-padding-y};
  --#{$variable-prefix}form-control-padding-x: #{$form-control-padding-x};
  --#{$variable-prefix}form-control-font: #{$form-control-font};
  --#{$variable-prefix}form-control-font-size: #{$form-control-font-size};
  --#{$variable-prefix}form-control-font-weight: #{$form-control-font-weight};
  --#{$variable-prefix}form-control-line-height: #{$form-control-line-height};
  --#{$variable-prefix}form-control-border-radius: #{$form-control-border-radius};
  --#{$variable-prefix}form-control-transition: #{$form-control-transition};

  --#{$variable-prefix}form-control-border: #{$form-control-default-border};
  --#{$variable-prefix}form-control-bg: #{$form-control-default-bg};
  --#{$variable-prefix}form-control-fg: #{$form-control-default-fg};
  --#{$variable-prefix}form-control-placeholder: #{$form-control-default-placeholder};

  --#{$variable-prefix}form-control-label-font: #{$form-control-label-font};
  --#{$variable-prefix}form-control-label-font-size: #{$form-control-label-font-size};
  --#{$variable-prefix}form-control-label-font-weight: #{$form-control-label-font-weight};
  --#{$variable-prefix}form-control-label-line-height: #{$form-control-label-line-height};
  --#{$variable-prefix}form-control-label-spacing: #{$form-control-label-spacing};
  --#{$variable-prefix}form-control-label-fg: #{$form-control-label-fg};

  --#{$variable-prefix}form-control-helper-font: #{$form-control-helper-font};
  --#{$variable-prefix}form-control-helper-font-size: #{$form-control-helper-font-size};
  --#{$variable-prefix}form-control-helper-font-weight: #{$form-control-helper-font-weight};
  --#{$variable-prefix}form-control-helper-margin-top: #{$form-control-helper-margin-top};
  --#{$variable-prefix}form-control-helper-fg: #{$form-control-helper-fg};

  --#{$variable-prefix}form-control-color-padding-y: #{$form-control-color-padding-y};
  --#{$variable-prefix}form-control-color-padding-x: #{$form-control-color-padding-x};
  --#{$variable-prefix}form-control-color-height: #{$form-control-color-height};
  --#{$variable-prefix}form-control-color-width: #{$form-control-color-width};

  label {
    font-family: var(--#{$variable-prefix}form-control-label-font);
    font-size: var(--#{$variable-prefix}form-control-label-font-size);
    font-weight: var(--#{$variable-prefix}form-control-label-font-weight);
    line-height: var(--#{$variable-prefix}form-control-label-line-height);
    margin-bottom: var(--#{$variable-prefix}form-control-label-spacing);
    color: var(--#{$variable-prefix}form-control-label-fg);
  }

  input {
    padding: var(--#{$variable-prefix}form-control-padding-y) var(--#{$variable-prefix}form-control-padding-x);

    font-family: var(--#{$variable-prefix}form-control-font);
    font-size: var(--#{$variable-prefix}form-control-font-size);
    font-weight: var(--#{$variable-prefix}form-control-font-weight);
    line-height: var(--#{$variable-prefix}form-control-line-height);

    border-radius: var(--#{$variable-prefix}form-control-border-radius);

    border: 1px solid var(--#{$variable-prefix}form-control-border);
    background: var(--#{$variable-prefix}form-control-bg);
    color: var(--#{$variable-prefix}form-control-fg);

    transition: var(--#{$variable-prefix}form-control-transition);

    &:disabled {
      --#{$variable-prefix}form-control-border: #{$form-control-disabled-border};
      --#{$variable-prefix}form-control-bg: #{$form-control-disabled-bg};
      --#{$variable-prefix}form-control-fg: #{$form-control-disabled-fg};
    }

    &:not(:disabled) {
      &:hover {
        --#{$variable-prefix}form-control-border: #{$form-control-default-hover-border};
        --#{$variable-prefix}form-control-bg: #{$form-control-default-hover-bg};
        --#{$variable-prefix}form-control-fg: #{$form-control-default-hover-fg};
        outline: none;
      }

      &:active,
      &:focus {
        --#{$variable-prefix}form-control-border: #{$form-control-default-active-border};
        --#{$variable-prefix}form-control-bg: #{$form-control-default-active-bg};
        --#{$variable-prefix}form-control-fg: #{$form-control-default-active-fg};
        --#{$variable-prefix}form-control-shadow: #{$form-control-default-active-shadow};

        outline: none;

        box-shadow: 0 0 0 0.25rem var(--#{$variable-prefix}form-control-shadow);
      }

      &::placeholder {
        color: var(--#{$variable-prefix}form-control-placeholder);
      }
    }

    &[type="color"] {
      padding: var(--#{$variable-prefix}form-control-color-padding-y) var(--#{$variable-prefix}form-control-color-padding-x);
      width: var(--#{$variable-prefix}form-control-color-width);
      height: var(--#{$variable-prefix}form-control-color-height);
    }
  }

  .helper-text {
    font-family: var(--#{$variable-prefix}form-control-helper-font);
    font-size: var(--#{$variable-prefix}form-control-helper-font-size);
    font-weight: var(--#{$variable-prefix}form-control-helper-font-weight);
    margin-top: var(--#{$variable-prefix}form-control-helper-margin-top);
    color: var(--#{$variable-prefix}form-control-helper-fg);
  }

  &.invalid {
    .helper-text {
      --#{$variable-prefix}form-control-invalid-color: #{$form-control-invalid-color};
      color: var(--#{$variable-prefix}form-control-invalid-color);
    }

    input,
    input:hover,
    input:focus,
    input:active {
      --#{$variable-prefix}form-control-border: #{$form-control-invalid-color};
      --#{$variable-prefix}form-control-shadow: #{$form-control-invalid-shadow};
      --#{$variable-prefix}form-control-placeholder: #{$form-control-invalid-placeholder};
    }
  }

  &.valid {
    .helper-text {
      --#{$variable-prefix}form-control-valid-color: #{$form-control-valid-color};
      color: var(--#{$variable-prefix}form-control-valid-color);
    }

    input,
    input:hover,
    input:focus,
    input:active {
      --#{$variable-prefix}form-control-border: #{$form-control-valid-color};
      --#{$variable-prefix}form-control-shadow: #{$form-control-valid-shadow};
      --#{$variable-prefix}form-control-placeholder: #{$form-control-valid-placeholder};
    }
  }
}