@use "../prefix";
@use "./form_control";

.select-container {
  &:not(.select-fixed-fit) {
    position: relative;
  }

  > .select {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    padding: var(--#{prefix.$variable-prefix}form-control-padding-y) var(--#{prefix.$variable-prefix}form-control-padding-x);

    font-family: var(--#{prefix.$variable-prefix}form-control-font);
    font-size: var(--#{prefix.$variable-prefix}form-control-font-size);
    font-weight: var(--#{prefix.$variable-prefix}form-control-font-weight);
    line-height: var(--#{prefix.$variable-prefix}form-control-line-height);

    border-radius: var(--#{prefix.$variable-prefix}form-control-border-radius);

    border: 1px solid var(--#{prefix.$variable-prefix}form-control-border);
    background: var(--#{prefix.$variable-prefix}form-control-bg);
    color: var(--#{prefix.$variable-prefix}form-control-fg);

    transition: var(--#{prefix.$variable-prefix}form-control-transition);

    &:disabled {
      --#{prefix.$variable-prefix}form-control-border: #{form_control.$form-control-disabled-border};
      --#{prefix.$variable-prefix}form-control-bg: #{form_control.$form-control-disabled-bg};
      --#{prefix.$variable-prefix}form-control-fg: #{form_control.$form-control-disabled-fg};
    }

    &:not(:disabled) {
      &:hover {
        --#{prefix.$variable-prefix}form-control-border: #{form_control.$form-control-default-hover-border};
        --#{prefix.$variable-prefix}form-control-bg: #{form_control.$form-control-default-hover-bg};
        --#{prefix.$variable-prefix}form-control-fg: #{form_control.$form-control-default-hover-fg};
        outline: none;
      }

      &:active,
      &:focus {
        --#{prefix.$variable-prefix}form-control-border: #{form_control.$form-control-default-active-border};
        --#{prefix.$variable-prefix}form-control-bg: #{form_control.$form-control-default-active-bg};
        --#{prefix.$variable-prefix}form-control-fg: #{form_control.$form-control-default-active-fg};
        --#{prefix.$variable-prefix}form-control-shadow: #{form_control.$form-control-default-active-shadow};

        outline: none;

        box-shadow: 0 0 0 0.25rem var(--#{prefix.$variable-prefix}form-control-shadow);
      }

      &::placeholder {
        color: var(--#{prefix.$variable-prefix}form-control-placeholder);
      }
    }

    .select-value {
      flex: 1;

      border: 0;
      outline: 0;
      box-shadow: 0;
    }

    .dropdown-button {
      aspect-ratio: 1;

      display: flex;
      align-items: center;
      justify-content: center;

      padding: 0;
      border: none;
      background: transparent;

      cursor: pointer;

      .arrow {
        font-size: 16px;

        transform: none;
        transition: transform 0.15s ease;
      }
    }

    &.select-filter-style {
      --#{prefix.$variable-prefix}form-control-border: transparent;
      cursor: pointer;

      &:not(:disabled) {
        &:hover {
          --#{prefix.$variable-prefix}form-control-border: transparent;
        }

        &:active,
        &:focus {
          --#{prefix.$variable-prefix}form-control-border: transparent;
        }
      }

      .select-label {
        --#{prefix.$variable-prefix}form-control-fg: #000;

        flex: 1;
        color: var(--#{prefix.$variable-prefix}form-control-fg);
      }

      .select-value {
        flex: unset;
      }
    }
  }

  > .select-dropdown {
    position: absolute;
    left: 0px;
    top: calc(100% + 8px);
    right: 0;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease;

    overflow-y: auto;

    background: #fff;
    border-radius: var(--border-radius);

    z-index: 950;

    &.select-dropdown-fixed-fit {
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
    }

    .select-dropdown-inner {
      width: 100%;
      height: 100%;

      padding: 5px;

      display: flex;
      flex-direction: column;
      align-items: stretch;

      header {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        padding-bottom: 20px;

        button {
          appearance: none;
          border: none;
          background: transparent;
          cursor: pointer;

          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 5px;
          padding: 10px 10px;

          font-family: var(--font-family);
          font-size: 1rem;
          font-weight: 400;
          line-height: normal;

          i {
            font-size: 18px;
            width: 18px;
            height: 18px;
          }
        }
      }

      .select-dropdown-search {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        margin: 4px;
        margin-bottom: 12px;

        input[type=text] {
          flex: 1;
          border: transparent;
        }
      }

      .select-dropdown-items {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;

        display: flex;
        flex-direction: column;
        align-items: stretch;
      }

      .select-item {
        border: none;
        background: #fff;

        text-align: left;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        cursor: pointer;
        padding: 6px 4px;

        &:hover {
          background: aliceblue;
        }

        &:focus {
          background: var(--color-primary-opacity-25);
          outline: none;
        }

        &.active {
          background: var(--color-primary-500);
          outline: none;

          position: relative;

          &::after {
            font-family: icons !important;
            font-style: normal;
            font-weight: normal !important;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: '\f102';

            font-size: 18px;
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }

  &.expanded {
    > .select {
      --#{prefix.$variable-prefix}form-control-border: #{form_control.$form-control-default-active-border};
      --#{prefix.$variable-prefix}form-control-bg: #{form_control.$form-control-default-active-bg};
      --#{prefix.$variable-prefix}form-control-fg: #{form_control.$form-control-default-active-fg};
      --#{prefix.$variable-prefix}form-control-shadow: #{form_control.$form-control-default-active-shadow};

      outline: none;

      box-shadow: 0 0 0 0.25rem var(--#{prefix.$variable-prefix}form-control-shadow);

      &:hover {
        --#{prefix.$variable-prefix}form-control-border: #{form_control.$form-control-default-active-border};
      }

      .dropdown-button {
        .arrow {
          transform: rotateZ(180deg);
        }
      }
    }

    &.select-fixed-fit {
      > .select-dropdown {
        max-height: 100%;
      }
    }

    &:not(.select-fixed-fit) {
      > .select-dropdown {
        max-height: 200px;
      }
    }

    > .select-dropdown {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      border: 1px solid var(--#{prefix.$variable-prefix}form-control-border);
    }
  }
}
