$modal-zindex: 1050;
$modal-dialog-margin: 0.5rem;

$modal-content-color: var(--color-gray-600);
$modal-content-bg: var(--color-white);
$modal-content-border-color: var(--color-gray-100);
$modal-content-border-width: 1px;
$modal-content-border-radius: 10px;
$modal-content-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
$modal-content-inner-border-radius: calc(
  $modal-content-border-radius - $modal-content-border-width
);

$modal-header-padding-x: 16px;
$modal-header-padding-y: 16px;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x;

$modal-title-color: var(--color-gray-700);
$modal-title-line-height: 1.5;

$modal-subtitle-color: var(--color-gray-400);
$modal-subtitle-line-height: 1.5;
$modal-subtitle-font-size: var(--font-size-small);

$modal-body-padding: 16px;

$modal-footer-border-width: 1px;
$modal-footer-border-color: var(--color-gray-100);
$modal-footer-padding: 16px;
$modal-footer-gap: 5px;
$modal-footer-bg: var(--color-white);

$modal-fade-transform: scale(0.6);
$modal-show-transform: none;
$modal-transition: transform 0.3s ease;
$modal-scale-transform: scale(1.02) !default;

$modal-sm: 400px;
$modal-md: 500px;
$modal-lg: 800px;
$modal-xl: 1140px;

$modal-backdrop-zindex: 1025;
$modal-backdrop-bg: rgba(255, 255, 255, 0.3);
$modal-backdrop-opacity: 1;
$modal-backdrop-blur: 3px;

.modal {
  --#{$variable-prefix}modal-zindex: #{$modal-zindex};
  --#{$variable-prefix}modal-dialog-width: #{$modal-md};
  --#{$variable-prefix}modal-dialog-margin: #{$modal-dialog-margin};
  --#{$variable-prefix}modal-content-color: #{$modal-content-color};
  --#{$variable-prefix}modal-content-bg: #{$modal-content-bg};
  --#{$variable-prefix}modal-content-border-color: #{$modal-content-border-color};
  --#{$variable-prefix}modal-content-border-width: #{$modal-content-border-width};
  --#{$variable-prefix}modal-content-border-radius: #{$modal-content-border-radius};
  --#{$variable-prefix}modal-content-box-shadow: #{$modal-content-box-shadow};
  --#{$variable-prefix}modal-inner-border-radius: #{$modal-content-inner-border-radius};

  --#{$variable-prefix}modal-header-padding-x: #{$modal-header-padding-x};
  --#{$variable-prefix}modal-header-padding-y: #{$modal-header-padding-y};
  --#{$variable-prefix}modal-header-padding: #{$modal-header-padding};

  --#{$variable-prefix}modal-title-line-height: #{$modal-title-line-height};
  --#{$variable-prefix}modal-title-color: #{$modal-title-color};

  --#{$variable-prefix}modal-subtitle-line-height: #{$modal-subtitle-line-height};
  --#{$variable-prefix}modal-subtitle-color: #{$modal-subtitle-color};
  --#{$variable-prefix}modal-subtitle-font-size: #{$modal-subtitle-font-size};

  --#{$variable-prefix}modal-body-padding: #{$modal-body-padding};

  --#{$variable-prefix}modal-footer-border-width: #{$modal-footer-border-width};
  --#{$variable-prefix}modal-footer-border-color: #{$modal-footer-border-color};
  --#{$variable-prefix}modal-footer-padding: #{$modal-footer-padding};
  --#{$variable-prefix}modal-footer-gap: #{$modal-footer-gap};
  --#{$variable-prefix}modal-footer-bg: #{$modal-footer-bg};

  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: var(--#{$variable-prefix}modal-zindex);

  overflow-x: hidden;
  overflow-y: auto;

  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: var(--#{$variable-prefix}modal-dialog-margin);

  pointer-events: none;

  .modal.fade & {
    transform: $modal-fade-transform;
    transition: $modal-transition;
  }

  .modal.show & {
    transform: $modal-show-transform;
  }

  .modal.modal-static & {
    transform: $modal-scale-transform;
  }
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--#{$variable-prefix}modal-dialog-margin) * 2);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  color: var(--#{$variable-prefix}modal-content-color);
  background-color: var(--#{$variable-prefix}modal-content-bg);
  background-clip: padding-box;
  border: var(--#{$variable-prefix}modal-content-border-width) solid
    var(--#{$variable-prefix}modal-content-border-color);
  border-radius: var(--#{$variable-prefix}modal-content-border-radius);

  box-shadow: var(--#{$variable-prefix}modal-content-box-shadow);

  pointer-events: auto;
  outline: 0;
}

.modal-backdrop {
  --#{$variable-prefix}backdrop-zindex: #{$modal-backdrop-zindex};
  --#{$variable-prefix}backdrop-bg: #{$modal-backdrop-bg};
  --#{$variable-prefix}backdrop-opacity: #{$modal-backdrop-opacity};
  --#{$variable-prefix}modal-backdrop-blur: #{$modal-backdrop-blur};

  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--#{$variable-prefix}backdrop-zindex);
  width: 100vw;
  height: 100vh;
  background-color: var(--#{$variable-prefix}backdrop-bg);
  backdrop-filter: blur(var(--#{$variable-prefix}modal-backdrop-blur));
  transition: opacity 0.3s ease-out;

  // Fade for backdrop
  &.fade {
    opacity: 0;
  }

  &.show {
    opacity: var(--#{$variable-prefix}backdrop-opacity);
  }
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--#{$variable-prefix}modal-header-padding);
  border-bottom: var(--#{$variable-prefix}modal-header-border-width) solid
    var(--#{$variable-prefix}modal-header-border-color);
  border-top-left-radius: var(--#{$variable-prefix}modal-inner-border-radius);
  border-top-right-radius: var(--#{$variable-prefix}modal-inner-border-radius);

  .btn-close {
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    color: var(--color-gray-400);
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 4px;

    transition: border 0.3s ease;

    &:hover {
      border-color: var(--color-gray-200);
    }

    i[class^="icon-"]:before,
    i[class*=" icon-"]:before {
      font-size: 18px;
    }
  }
}

.modal-title {
  flex: 1;

  margin-bottom: 0;
  line-height: var(--#{$variable-prefix}modal-title-line-height);
  color: var(--#{$variable-prefix}modal-title-color);
}

.modal-subtitle {
  width: 100%;
  margin-bottom: 0;
  line-height: var(--#{$variable-prefix}modal-subtitle-line-height);
  color: var(--#{$variable-prefix}modal-subtitle-color);
  font-size: var(--#{$variable-prefix}modal-subtitle-font-size);
}

.modal-body {
  position: relative;

  flex: 1 1 auto;
  padding: var(--#{$variable-prefix}modal-body-padding);

  .form-control {
    --#{$variable-prefix}form-control-label-font-size: var(--font-size-small);
    --#{$variable-prefix}form-control-padding-y: var(--spacing-xsmall);
    --#{$variable-prefix}form-control-padding-x: var(--spacing-xsmall);
  }
}

.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;

  padding: calc(
    var(--#{$variable-prefix}modal-footer-padding) -
      var(--#{$variable-prefix}modal-footer-gap) * 0.5
  );
  background-color: var(--#{$variable-prefix}modal-footer-bg);
  border-top: var(--#{$variable-prefix}modal-footer-border-width) solid
    var(--#{$variable-prefix}modal-footer-border-color);
  border-bottom-left-radius: var(
    --#{$variable-prefix}modal-inner-border-radius
  );
  border-bottom-right-radius: var(
    --#{$variable-prefix}modal-inner-border-radius
  );
}

@include media-breakpoint-up(sm) {
  .modal-dialog {
    max-width: var(--#{$variable-prefix}modal-dialog-width);
    margin-right: auto;
    margin-left: auto;
  }

  .modal-sm {
    --#{$variable-prefix}modal-dialog-width: #{$modal-sm};

    .modal-footer {
      --#{$variable-prefix}modal-footer-border-color: transparent;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include media-breakpoint-up(lg) {
  .modal-lg,
  .modal-xl {
    --#{$variable-prefix}modal-dialog-width: #{$modal-lg};
  }
}

@include media-breakpoint-up(xl) {
  .modal-xl {
    --#{$variable-prefix}modal-dialog-width: #{$modal-xl};
  }
}
