@use "../breakpoints";
@use "../prefix";
@use "../mixins/colors";
@use "./button";

$sidebar-button-colors: (
  primary: (border: transparent,
    fg: button.$button-primary-bg,
    bg: transparent,
    hover-fg: button.$button-primary-hover-bg,
    hover-border: transparent,
    hover-bg: transparent,
    active-fg: button.$button-primary-active-bg,
    active-border: transparent,
    active-bg: transparent,
  ),
  danger: (border: transparent,
    fg: button.$button-danger-bg,
    bg: transparent,
    hover-fg: button.$button-danger-hover-bg,
    hover-border: transparent,
    hover-bg: transparent,
    active-fg: button.$button-danger-active-bg,
    active-border: transparent,
    active-bg: transparent,
  ),
);

$sidebar-button-spacing-y: var(--spacing-xxsmall) !default;

$sidebar-button-expandable-fg: var(--color-gray-50) !default;
$sidebar-button-expandable-hover-bg: button.$button-primary-hover-bg !default;
$sidebar-button-expandable-hover-fg: var(--color-gray-50) !default;
$sidebar-button-expandable-active-bg: button.$button-primary-active-bg !default;

$inactive-sidebar-button-colors: (
  border: transparent,
  fg: $sidebar-button-expandable-fg,
  bg: transparent,
  hover-fg: $sidebar-button-expandable-hover-fg,
  hover-border: transparent,
  hover-bg: $sidebar-button-expandable-hover-bg,
  active-fg: $sidebar-button-expandable-fg,
  active-border: transparent,
  active-bg: $sidebar-button-expandable-active-bg,
);

$sidebar-button-expandable-padding-right: var(--spacing-xxlarge) !default;
$sidebar-button-expandable-margin-bottom: var(--spacing-xxsmall) !default;
$sidebar-button-child-margin-left: var(--spacing-xxlarge) !default;
$sidebar-button-child-margin-bottom: var(--spacing-xxsmall) !default;
$sidebar-button-child-timeline-bg: var(--color-gray-400) !default;
$sidebar-button-child-timeline-active-bg: var(--color-primary-500) !default;

$sidebar-width: 300px;
$sidebar-collapsed-width: 80px;
$sidebar-bg: #101828;
$sidebar-padding-x: var(--spacing-base);
$sidebar-padding-y: var(--spacing-base);
$sidebar-branding-height: 80px;
$sidebar-transition: width .35s ease !default;

$sidebar-label-padding-x: var(--spacing-base);
$sidebar-label-padding-y: var(--spacing-xsmall);
$sidebar-label-top-margin: var(--spacing-base);
$sidebar-label-font-size: var(--font-size-small);
$sidebar-label-font-weight: var(--font-weight-light);
$sidebar-label-fg: #aaa;


.sidebar {
  --#{prefix.$variable-prefix}sidebar-default-width: #{$sidebar-width};
  --#{prefix.$variable-prefix}sidebar-collapsed-width: #{$sidebar-collapsed-width};

  --#{prefix.$variable-prefix}sidebar-width: var(--#{prefix.$variable-prefix}sidebar-default-width);
  --#{prefix.$variable-prefix}sidebar-bg: #{$sidebar-bg};
  --#{prefix.$variable-prefix}sidebar-padding-x: #{$sidebar-padding-x};
  --#{prefix.$variable-prefix}sidebar-padding-y: #{$sidebar-padding-y};

  --#{prefix.$variable-prefix}sidebar-branding-height: #{$sidebar-branding-height};

  display: flex;

  width: var(--#{prefix.$variable-prefix}sidebar-width);
  background-color: var(--#{prefix.$variable-prefix}sidebar-bg);

  transition: $sidebar-transition;
  position: relative;

  border-right: 1px solid #ccc;

  @include breakpoints.media-breakpoint-down('md', breakpoints.$grid-breakpoints) {
    --#{prefix.$variable-prefix}sidebar-collapsed-width: 0;

    --#{prefix.$variable-prefix}sidebar-width: 100%;
    max-width: var(--#{prefix.$variable-prefix}sidebar-default-width);

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;

    .sidebar-toggle {
      display: none;
    }
  }

  .sidebar-toggle {
    position: absolute;
    right: 0;
    top: var(--spacing-large);
    transform: translateX(50%);
    width: 24px;
    height: 24px;
    background-color: var(--#{prefix.$variable-prefix}sidebar-bg);
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      left: calc(50% + 2px);
      top: 50%;
      transform: translate(-50%, -50%) rotate(135deg);

      border: solid #ccc;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;

      transition: transform .35s ease;
    }
  }

  .branding {
    height: var(--#{prefix.$variable-prefix}sidebar-branding-height);
  }

  >.sidebar-inner {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    overflow-y: auto;
    overflow-x: hidden;

    width: var(--#{prefix.$variable-prefix}sidebar-default-width);
    padding: var(--#{prefix.$variable-prefix}sidebar-padding-y) var(--#{prefix.$variable-prefix}sidebar-padding-x);
  }

  .sidebar-childs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &.collapsed {
    --#{prefix.$variable-prefix}sidebar-width: var(--#{prefix.$variable-prefix}sidebar-collapsed-width);

    .sidebar-toggle::after {
      transform: translate(-50%, -50%) rotate(-45deg);
      left: calc(50% - 2px);
    }

    &.collapsed-complete {
      >.sidebar-inner {
        width: var(--#{prefix.$variable-prefix}sidebar-collapsed-width);
      }

      .hide-on-collapse {
        display: none;
      }

      .sidebar-label {
        position: relative;
        color: transparent;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 1px;
          background: var(--#{prefix.$variable-prefix}sidebar-label-fg);
          opacity: 0.25;
        }
      }

      .btn-sidebar {
        --#{prefix.$variable-prefix}button-padding-y: var(--spacing-xsmall);
        --#{prefix.$variable-prefix}button-padding-x: var(--spacing-xsmall);
        align-items: center;
        justify-content: center;

        &.expandable {
          --#{prefix.$variable-prefix}sidebar-button-expandable-padding-right: var(--spacing-xsmall);

          &::after {
            display: none;
          }
        }

        &.child {
          display: none;
        }
      }
    }
  }
}

.btn-sidebar {
  --#{prefix.$variable-prefix}sidebar-button-spacing-y: #{$sidebar-button-spacing-y};

  justify-content: flex-start;

  white-space: nowrap;
  text-overflow: ellipsis;

  &:not(.child) {
    margin: var(--#{prefix.$variable-prefix}sidebar-button-spacing-y) 0;
  }

  &:not(.active) {
    @include colors.map-variable("button-border", $inactive-sidebar-button-colors, "border");
    @include colors.map-variable("button-bg", $inactive-sidebar-button-colors, "bg");
    @include colors.map-variable("button-fg", $inactive-sidebar-button-colors, "fg");

    &:hover {
      @include colors.map-variable("button-border", $inactive-sidebar-button-colors, "hover-border");
      @include colors.map-variable("button-bg", $inactive-sidebar-button-colors, "hover-bg");
      @include colors.map-variable("button-fg", $inactive-sidebar-button-colors, "hover-fg");
    }

    &:active {
      @include colors.map-variable("button-border", $inactive-sidebar-button-colors, "active-border");
      @include colors.map-variable("button-bg", $inactive-sidebar-button-colors, "active-bg");
      @include colors.map-variable("button-fg", $inactive-sidebar-button-colors, "active-fg");
    }
  }

  &.child {
    --#{prefix.$variable-prefix}sidebar-button-child-margin-left: #{$sidebar-button-child-margin-left};
    --#{prefix.$variable-prefix}sidebar-button-child-margin-bottom: #{$sidebar-button-child-margin-bottom};
    --#{prefix.$variable-prefix}sidebar-button-child-timeline-bg: #{$sidebar-button-child-timeline-bg};
    --#{prefix.$variable-prefix}sidebar-button-child-timeline-active-bg: #{$sidebar-button-child-timeline-active-bg};

    margin-left: var(--#{prefix.$variable-prefix}sidebar-button-child-margin-left);
    position: relative;
    margin-bottom: var(--#{prefix.$variable-prefix}sidebar-button-child-margin-bottom);

    &::after {
      content: '';
      position: absolute;
      left: calc(-1 * var(--spacing-base) - 1px);
      top: 0;
      bottom: calc(-1 * var(--#{prefix.$variable-prefix}sidebar-button-child-margin-bottom) - 2px);
      width: 1px;
      background: var(--#{prefix.$variable-prefix}sidebar-button-child-timeline-bg);
    }

    &::before {
      content: '';
      position: absolute;
      left: calc(-1 * var(--spacing-base) - 6px);
      width: 10px;
      height: 10px;
      background: var(--#{prefix.$variable-prefix}sidebar-button-child-timeline-bg);
      border-radius: 50%;
    }

    &.start {
      &::after {
        top: 50%;
      }

      &::before {
        top: calc(50% - 6px);
      }
    }

    &.end {
      &::after {
        bottom: 50%;
      }
    }

    &.active {
      &::before {
        background: var(--#{prefix.$variable-prefix}sidebar-button-child-timeline-active-bg);
        z-index: 1;
      }
    }
  }

  &.expandable {
    --#{prefix.$variable-prefix}sidebar-button-expandable-padding-right: #{$sidebar-button-expandable-padding-right};
    --#{prefix.$variable-prefix}sidebar-button-expandable-margin-bottom: #{$sidebar-button-expandable-margin-bottom};

    padding-right: var(--#{prefix.$variable-prefix}sidebar-button-expandable-padding-right);
    margin-bottom: var(--#{prefix.$variable-prefix}sidebar-button-expandable-margin-bottom);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: var(--#{prefix.$variable-prefix}button-padding-x);
      top: 50%;
      transform: translateY(-50%) rotate(45deg);

      border: solid currentColor;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 4px;

      transition: transform 0.1s ease;
    }

    &[aria-expanded="true"] {
      &::after {
        transform: translateY(-50%) rotate(-135deg);
      }
    }

    &.active {
      @each $variant, $dict in $sidebar-button-colors {
        &.#{$variant} {
          @include colors.map-variable("button-border", $dict, "border");
          @include colors.map-variable("button-bg", $dict, "bg");
          @include colors.map-variable("button-fg", $dict, "fg");

          &:hover {
            @include colors.map-variable("button-border", $dict, "hover-border");
            @include colors.map-variable("button-bg", $dict, "hover-bg");
            @include colors.map-variable("button-fg", $dict, "hover-fg");
          }

          &:active {
            @include colors.map-variable("button-border", $dict, "active-border");
            @include colors.map-variable("button-bg", $dict, "active-bg");
            @include colors.map-variable("button-fg", $dict, "active-fg");
          }
        }
      }
    }
  }

  .sidebar-icon {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    font-size: 24px;
  }
}

.sidebar-label {
  --#{prefix.$variable-prefix}sidebar-label-padding-x: #{$sidebar-label-padding-x};
  --#{prefix.$variable-prefix}sidebar-label-padding-y: #{$sidebar-label-padding-y};
  --#{prefix.$variable-prefix}sidebar-label-fg: #{$sidebar-label-fg};
  --#{prefix.$variable-prefix}sidebar-label-top-margin: #{$sidebar-label-top-margin};
  --#{prefix.$variable-prefix}sidebar-label-font-size: #{$sidebar-label-font-size};
  --#{prefix.$variable-prefix}sidebar-label-font-weight: #{$sidebar-label-font-weight};

  color: var(--#{prefix.$variable-prefix}sidebar-label-fg);
  padding: var(--#{prefix.$variable-prefix}sidebar-label-padding-y) var(--#{prefix.$variable-prefix}sidebar-label-padding-x);
  margin-top: var(--#{prefix.$variable-prefix}sidebar-label-top-margin);
  font-weight: var(--#{prefix.$variable-prefix}sidebar-label-font-weight);
  font-size: var(--#{prefix.$variable-prefix}sidebar-label-font-size);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
