@use "../prefix";

$skeleton-color: var(--color-gray-200);
$skeleton-border-radius: 0;
$skeleton-border-radius-rounded: var(--border-radius);
$skeleton-border-radius-medium: var(--border-radius-medium);
$skeleton-border-radius-large: var(--border-radius-large);
$skeleton-border-radius-xlarge: var(--border-radius-xlarge);
$skeleton-border-radius-pill: var(--border-radius-pill);
$skeleton-border-radius-circle: var(--border-radius-circle);

@keyframes skeleton-pulse {
  50% {
    opacity: .5;
  }
}

.skeleton {
  --#{prefix.$variable-prefix}skeleton-color: #{$skeleton-color};
  --#{prefix.$variable-prefix}border-radius: #{$skeleton-border-radius};

  border-radius: var(--#{prefix.$variable-prefix}border-radius);
  background-color: var(--#{prefix.$variable-prefix}skeleton-color);
  animation: skeleton-pulse 2s cubic-bezier(.4,0,.6,1) infinite;

  &.rounded {
    --#{prefix.$variable-prefix}border-radius: #{$skeleton-border-radius-rounded};
  }

  &.rounded-medium {
    --#{prefix.$variable-prefix}border-radius: #{$skeleton-border-radius-medium};
  }

  &.rounded-large {
    --#{prefix.$variable-prefix}border-radius: #{$skeleton-border-radius-large};
  }

  &.rounded-xlarge {
    --#{prefix.$variable-prefix}border-radius: #{$skeleton-border-radius-xlarge};
  }

  &.rounded-pill {
    --#{prefix.$variable-prefix}border-radius: #{$skeleton-border-radius-pill};
  }

  &.rounded-circle {
    --#{prefix.$variable-prefix}border-radius: #{$skeleton-border-radius-circle};
  }
}
