.spinner {
  @keyframes spinner-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  --#{$variable-prefix}spinner-size: #{$spinner-default-size};
  --#{$variable-prefix}spinner-color: #{$spinner-default-color};
  --#{$variable-prefix}spinner-width: #{$spinner-default-width};

  display: inline-block;

  position: relative;

  width: var(--#{$variable-prefix}spinner-size);
  height: var(--#{$variable-prefix}spinner-size);

  div {
    display: block;

    position: absolute;
    width: var(--#{$variable-prefix}spinner-size);
    height: var(--#{$variable-prefix}spinner-size);
    border: var(--#{$variable-prefix}spinner-width) solid
      var(--#{$variable-prefix}spinner-color);
    border-radius: 50%;
    animation: spinner-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--#{$variable-prefix}spinner-color) transparent
      transparent transparent;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}
