@use "../../prefix";
@use "../../mixins/colors";

$alert-padding-x: var(--spacing-base) !default;
$alert-padding-y: var(--spacing-small) !default;
$alert-margin-bottom: var(--spacing-base) !default;
$alert-border-radius: var(--border-radius) !default;

$alert-default-bg: var(--color-gray-50) !default;
$alert-default-fg: var(--color-gray-500) !default;
$alert-default-border: var(--color-gray-100) !default;

$alert-danger-bg: var(--color-danger-100) !default;
$alert-danger-fg: var(--color-danger-500) !default;
$alert-danger-border: var(--color-danger-500) !default;

$alert-error-bg: var(--color-danger-100) !default;
$alert-error-fg: var(--color-danger-500) !default;
$alert-error-border: var(--color-danger-500) !default;

$alert-success-bg: var(--color-success-100) !default;
$alert-success-fg: var(--color-success-700) !default;
$alert-success-border: var(--color-success-700) !default;

$alert-warning-bg: var(--color-warning-100) !default;
$alert-warning-fg: var(--color-warning-700) !default;
$alert-warning-border: var(--color-warning-700) !default;

$alert-colors: (
  danger: (border: $alert-danger-border,
    bg: $alert-danger-bg,
    fg: $alert-danger-fg,
  ),
  error: (border: $alert-error-border,
    bg: $alert-error-bg,
    fg: $alert-error-fg,
  ),
  success: (
    border: $alert-success-border,
    bg: $alert-success-bg,
    fg: $alert-success-fg,
  ),
  warning: (
    border: $alert-warning-border,
    bg: $alert-warning-bg,
    fg: $alert-warning-fg,
  ),
);

.alert {
  --#{prefix.$variable-prefix}alert-padding-x: #{$alert-padding-x};
  --#{prefix.$variable-prefix}alert-padding-y: #{$alert-padding-y};
  --#{prefix.$variable-prefix}alert-margin-bottom: #{$alert-margin-bottom};
  --#{prefix.$variable-prefix}alert-fg: #{$alert-default-fg};
  --#{prefix.$variable-prefix}alert-bg: #{$alert-default-bg};
  --#{prefix.$variable-prefix}alert-border: #{$alert-default-border};
  --#{prefix.$variable-prefix}alert-border-radius: #{$alert-border-radius};

  padding: var(--#{prefix.$variable-prefix}alert-padding-y) var(--#{prefix.$variable-prefix}alert-padding-x);
  margin-bottom: var(--#{prefix.$variable-prefix}alert-margin-bottom);
  border-radius: var(--#{prefix.$variable-prefix}alert-border-radius);
  color: var(--#{prefix.$variable-prefix}alert-fg);
  border: 1px solid var(--#{prefix.$variable-prefix}alert-border);
  background: var(--#{prefix.$variable-prefix}alert-bg);

  @each $variant, $dict in $alert-colors {
    &.#{$variant} {
      @include colors.map-variable("alert-border", $dict, "border");
      @include colors.map-variable("alert-bg", $dict, "bg");
      @include colors.map-variable("alert-fg", $dict, "fg");
    }
  }
}
