/*
 * PREFIX
 */
$variable-prefix: inventare-;

/*
 * FONT
 */
$body-font: "Roboto", sans-serif !default;

/*
 * BREAKPOINTS
 */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

/*
 * CONTAINER
 */
$container-padding-x: 0;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

/*
 * BUTTON
 */
$button-padding-x: var(--spacing-base) !default;
$button-padding-y: var(--spacing-xsmall) !default;
$button-font: $body-font !default;
$button-font-size: 1rem !default;
$button-font-weight: 400 !default;
$button-line-height: normal !default;
$button-gap: var(--spacing-small) !default;
$button-border-radius: var(--border-radius) !default;
$button-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !default;
$button-disabled-opacity: 0.65;

/* LARGE */
$button-large-padding-x: var(--spacing-large) !default;
$button-large-padding-y: var(--spacing-small) !default;
$button-large-font-size: 1.25rem !default;
$button-large-border-radius: var(--border-radius) !default;

/* SMALL */
$button-small-padding-x: var(--spacing-small) !default;
$button-small-padding-y: var(--spacing-xxsmall) !default;
$button-small-font-size: 0.875rem !default;
$button-small-border-radius: var(--border-radius) !default;

/* DEFAULT */
$button-default-border: transparent !default;
$button-default-bg: transparent !default;
$button-default-fg: #222 !default;
$button-default-hover-border: transparent !default;
$button-default-hover-bg: transparent !default;
$button-default-hover-fg: #222 !default;
$button-default-active-border: #222 !default;
$button-default-active-bg: transparent !default;
$button-default-active-fg: #222 !default;

/* PRIMARY */
$button-primary-border: var(--color-primary-500) !default;
$button-primary-bg: var(--color-primary-500) !default;
$button-primary-fg: #fff !default;
$button-primary-hover-border: var(--color-primary-600) !default;
$button-primary-hover-bg: var(--color-primary-600) !default;
$button-primary-hover-fg: #fff !default;
$button-primary-active-border: var(--color-primary-700) !default;
$button-primary-active-bg: var(--color-primary-700) !default;
$button-primary-active-fg: #fff !default;
/* DANGER */
$button-danger-border: var(--color-danger-500) !default;
$button-danger-bg: var(--color-danger-500) !default;
$button-danger-fg: #fff !default;
$button-danger-hover-border: var(--color-danger-600) !default;
$button-danger-hover-bg: var(--color-danger-600) !default;
$button-danger-hover-fg: #fff !default;
$button-danger-active-border: var(--color-danger-700) !default;
$button-danger-active-bg: var(--color-danger-700) !default;
$button-danger-active-fg: #fff !default;

/* COLORS */
$button-colors: (
  primary: (border: $button-primary-border,
    bg: $button-primary-bg,
    fg: $button-primary-fg,
    hover-border: $button-primary-hover-border,
    hover-bg: $button-primary-hover-bg,
    hover-fg: $button-primary-hover-fg,
    active-border: $button-primary-active-border,
    active-bg: $button-primary-active-bg,
    active-fg: $button-primary-active-fg,
  ),
  danger: (border: $button-danger-border,
    bg: $button-danger-bg,
    fg: $button-danger-fg,
    hover-border: $button-danger-hover-border,
    hover-bg: $button-danger-hover-bg,
    hover-fg: $button-danger-hover-fg,
    active-border: $button-danger-active-border,
    active-bg: $button-danger-active-bg,
    active-fg: $button-danger-active-fg,
  ),
);

/*
 * SPINNER
 */
$spinner-default-size: 32px !default;
$spinner-default-color: currentColor;
$spinner-default-width: 2px;

$skeleton-start-color: #1a202c;
$skeleton-end-color: #4a5568;
$skeleton-opacity: 0.7;
$skeleton-color: transparent;
$skeleton-radius: 0.125rem;


/*
 * FORM CONTROL
 */

$form-control-padding-x: var(--spacing-small) !default;
$form-control-padding-y: var(--spacing-small) !default;

$form-control-font: $body-font !default;
$form-control-font-size: 1rem !default;
$form-control-font-weight: 400 !default;
$form-control-line-height: normal !default;

$form-control-label-font: $body-font !default;
$form-control-label-font-size: 1rem !default;
$form-control-label-font-weight: 400 !default;
$form-control-label-line-height: normal !default;
$form-control-label-spacing: var(--spacing-xsmall) !default;
$form-control-label-fg: var(--color-gray-600) !default;

$form-control-border-radius: var(--border-radius) !default;
$form-control-transition: color 0.15s ease-in-out,
  background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out !default;

$form-control-default-border: var(--color-gray-100) !default;
$form-control-default-bg: #fff !default;
$form-control-default-fg: var(--color-gray-500) !default;
$form-control-default-hover-border: var(--color-gray-100) !default;
$form-control-default-hover-bg: #fff !default;
$form-control-default-hover-fg: var(--color-gray-600) !default;
$form-control-default-active-border: var(--color-primary-500) !default;
$form-control-default-active-shadow: var(--color-primary-opacity-25) !default;
$form-control-default-active-bg: #fff !default;
$form-control-default-active-fg: var(--color-gray-700) !default;
$form-control-default-placeholder: var(--color-gray-400) !default;

$form-control-color-padding-y: var(--spacing-xxsmall) !default;
$form-control-color-padding-x: var(--spacing-xxsmall) !default;
$form-control-color-height: var(--spacing-xxxlarge) !default;
$form-control-color-width: var(--spacing-xxxxlarge) !default;

$form-control-disabled-border: var(--color-gray-100);
$form-control-disabled-bg: var(--color-gray-50);
$form-control-disabled-fg: var(--color-gray-400);

$form-control-helper-font: $body-font !default;
$form-control-helper-font-size: 0.875rem !default;
$form-control-helper-font-weight: 400 !default;
$form-control-helper-margin-top: var(--spacing-xxsmall);
$form-control-helper-fg: var(--color-gray-400);

$form-control-invalid-color: var(--color-danger-500) !default;
$form-control-invalid-shadow: var(--color-danger-opacity-25) !default;
$form-control-invalid-placeholder: var(--color-danger-400) !default;
$form-control-valid-color: var(--color-success-500) !default;
$form-control-valid-shadow: var(--color-success-opacity-25) !default;
$form-control-valid-placeholder: var(--color-gray-400) !default;